@charset "UTF-8";

#content {
    font-family: RobotoSlabRegular, Georgia serif;
    font-size: 1.5em;
    text-align: center;
    width: 1000px;
    margin: 90px auto;
    background-color: #eeeeee;
}

table {
    table-layout:fixed; width:1000px;
}

th {
    border: 1px solid #000000;
}

td {
    border: 1px solid #000000;
}